.admin {
    background-image: url('../public/background_nologo.jpg');
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.leftColumn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.leftMainContent {
    display: flex;
    flex-direction: column;
    flex: 12;
    /* border: 2px solid red; */
}

.rightColumn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}


.rightContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.topContent {
    flex: 3;
}

.rightTopContent {
    flex: 0.7;
}

.topContentInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.5;
}

.topContentTop {
    flex: 2;
}

.topContentbottom {
    flex: 2;
}


.rightMainContent {
    display: flex;
    flex-direction: column;
    flex: 12;
    /* border: 2px solid red; */
}

.mainContentInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    margin-left: 4vh;
    margin-right: 4vh;
    margin-top: 2vh;
    margin-bottom: 4vh;
    border-radius: 20px;
    backdrop-filter: blur(1px);
}

.mainContentTop {
    flex: 3;
    /* border: 2px solid red; */
}


.mainContentTopInner {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mainContentTopPic {
    /* 音乐图片 */
    flex: 1;
    /* border: 2px solid red; */
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
}

.mainContentTopPic p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
    /* Center text horizontally */
}

.mainContentTopRight {
    /* 音乐内容 */
    flex: 1;
    /* border: 2px solid red; */
    height: 100%;
}

.mainContentTopRightInner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContentTopRightAdd {
    margin-top: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    flex: 1;
    display: flex;
    justify-content: left; /* 水平居中 */
    align-items: center;
}

.mainContentTopRightName {
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    flex: 1;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;
    background: #F0F3F4;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.mainContentTopRightType {
    flex: 3;
    /* border: 2px solid red; */
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 2vh;
    background: #F0F3F4;
    border-radius: 10px;
}

.mainContentTopRightTypeInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 2vh;
    margin-right: 2vh;
}

.mainContentTopRightTypeHeader {
    flex: 1;
    /* border: 2px solid red; */
}

.mainContentTopRightTypeRow {
    flex: 1;
    /* border: 2px solid red; */
}

.mainContentMiddle {
    margin-top: 2vh;
    /* Upload music row */
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContentMiddle p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.mainContentBottom {
    /* PlayList row */
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex: 1;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContentBottom p {
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.audioContainer {
    border-radius: 10px;
    text-align: center; /* Center text horizontally */
    /* border: 2px solid red; */
    background-color: #F0F3F4;
    height: 13vh;
    width: 60vh;
}


.imageDropzone {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
    margin: 0 auto;
}

.imageDropzone p {
    margin: 0;
    font-size: 20px;
}

.uploadedImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.uploadedImage:hover {
    cursor: pointer;
}

.dropzoneWrapper {
    border-radius: 10px;
    background-color: #F0F3F4;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 13vh;
    width: 60vh;
}

.topDivision {
    flex: 1;
}

.bottomDivision {
    flex: 1;
}

.audioContainerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.topDivisionBottom {
    flex: 1;
}

.bottomDivisionBottom {
    flex: 1;
}


.musicHeader {
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}




.musicWrap {
    margin: 30px auto;
    width: 30vw;
}


.musicWrap .musicMainHead {
display: flex;
justify-content: space-between;
}

.musicWrap .musicMainHead > div {
background-color: #fff;
font-weight: bold;
/* margin-left: 5px; */
padding: 5px 21px;
font-size: 1.5vw;
}

.musicWrap .musicMainHead > div{
margin: 0;
border-radius: 6px;
background-color: #fac554
}

.music-item-wrap {
background-color: #d7d7dc;
font-size: 20px;
display: flex;
justify-content: space-between;
padding: 5px 10px;
border-radius: 6px;
margin-top: 15px;
}

.music-item-wrap > .types {
display: flex;
}

.music-item-wrap > .types > .type-item {
margin-right: 10px;
background-color: #fac554;
border-radius: 6px;
padding: 0 6px;
}

.addButton {
    border-radius: 10px;
    background-color: rgba(153, 222, 131, 1);
    width: 10vh;
    height: 5vh;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.addButton:hover {
    color: white;
}

.deleteButton {
    border-radius: 10px;
    background-color: rgba(153, 222, 131, 1);
    width: 9vh;
    height: 4vh;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.deleteButton:hover {
    color: white;
}

.typeButton1 {
    border-radius: 10px;
    margin: 2vh;
    background-color: transparent; /* 初始背景颜色 */
    /*color: blue;*/ /* 初始文本颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
    border: none;
}
  
.typeButton1:hover {
    background-color: rgb(238,130,238); /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的文本颜色 */
}

.activeType1 {
    background-color: rgb(238,130,238);
}

.typeButton2 {
    border-radius: 10px;
    margin: 2vh;
    background-color: transparent; /* 初始背景颜色 */
    /*color: blue;*/ /* 初始文本颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
    border: none;
}
  
.typeButton2:hover {
    background-color: orange; /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的文本颜色 */
}

.activeType2 {
    background-color: orange;
}

.typeButton3 {
    border-radius: 10px;
    margin: 2vh;
    background-color: transparent; /* 初始背景颜色 */
    /*color: blue;*/ /* 初始文本颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
    border: none;
}
  
.typeButton3:hover {
    background-color: rgb(0,255,127); /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的文本颜色 */
}

.activeType3 {
    background-color: rgb(0,255,127);
}

.typeButton4 {
    border-radius: 10px;
    margin: 2vh;
    background-color: transparent; /* 初始背景颜色 */
    /*color: blue;*/ /* 初始文本颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
    border: none;
}
  
.typeButton4:hover {
    background-color: rgb(253,152,152); /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的文本颜色 */
}

.activeType4 {
    background-color: rgb(253,152,152);
}

.typeButton5 {
    border-radius: 10px;
    margin: 2vh;
    background-color: transparent; /* 初始背景颜色 */
    /*color: blue;*/ /* 初始文本颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
    border: none;
}
  
.typeButton5:hover {
    background-color: cyan; /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的文本颜色 */
}

.activeType5 {
    background-color: cyan;
}

.typeButton6 {
    border-radius: 10px;
    margin: 2vh;
    background-color: transparent; /* 初始背景颜色 */
    /*color: blue;*/ /* 初始文本颜色 */
    padding: 5px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标指针样式 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
    border: none;
}
  
.typeButton6:hover {
    background-color: yellow; /* 鼠标悬停时的背景颜色 */
    color: white; /* 鼠标悬停时的文本颜色 */
}

.activeType6 {
    background-color: yellow;
}