
/* comments.css */

/* :root 和其他样式... */
:root {
    --rotate-speed: 40;
    --count: 8;
    --easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}

.comments-page {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* 设置容器样式 */
.comments-void {
  /* 组件特定的样式 */
  width: 100%;
  max-width: 66vw;
  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1;
  
}

/* 鼠标悬停时暂停动画 
.comments-void ul:hover * {
  animation-play-state: paused;
}
*/
/* 设置列表项样式 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

/* 设置列表项样式 */
li {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}


/* 设置卡片样式 */
.comments-cards {
  /* 组件特定的样式 */
  width: 17vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vh 2.25vh;
  gap: 1vh;
  background: #FFFFFF;
  

  border-radius: 1.25vw;
  font: 550 0.9vw '';
  color: #535062;
  animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
  pointer-events: none;
    border: 0.1vw solid #3b2ed06e; /* 添加1像素黑色边框 */
}

/* 设置图片样式 */
.comments-cards img {
  /* 组件特定的样式 */
  width: 100%;
}

/* set the size of the window: */
ac {

  text-decoration: none;
  color: unset;
  display: block;
  height: 100%;
  overflow: hidden;
}

/* 设置模型名称样式 */
.comments-username{
  /* 组件特定的样式 */
  font-weight: 600;
  font-size: 2.75vh;
  line-height: 150%;
  color: #3B2ED0;
  display: block;
  letter-spacing: 0.07vw;
  color: #6844f7;
}

/* svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
} */

/* 设置不同列表项的动画延迟 */
li:nth-child(2),
li:nth-child(2) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
}

li:nth-child(3),
li:nth-child(3) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
}

li:nth-child(4),
li:nth-child(4) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
}

li:nth-child(5),
li:nth-child(5) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
}

li:nth-child(6),
li:nth-child(6) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
}


/* 定义顺时针旋转动画 */
@keyframes rotateCW {
  from {
    transform: translate3d(0vh, -50%, -1vh) rotate(-45deg);
  }

  to {
    transform: translate3d(0vh, -50%, 0vh) rotate(-315deg);
  }
}

/* 定义逆时针旋转动画 */
@keyframes rotateCCW {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(315deg);
  }
}
/* 设置中心圆样式 */
.center-circle {
  position: absolute;
  width: 7vw;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0vw 3vw 6vw -3vw rgba(12, 5, 46, 0.3),
    0vw 5vw 10vw -2vw rgba(12, 5, 46, 0.25);
  border-radius: 50%;
  background-size: cover;
  background-position: -3vw 0;
}

/* 设置第二个圆样式 */
.second-circle {
  position: absolute;
  width: 22vw;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F5F4FE;
  opacity: 0.5;
  box-shadow: 0vw 3vw 12vw -6vw rgba(12, 5, 46, 0.3),
    0vw 5vw 10vw -2vw rgba(12, 5, 46, 0.25);
  border-radius: 50%;
  background-image: url('../public/03.gif');
}

/* 设置最后一个圆样式 */
.last-circle {
  position: absolute;
  width: 48vw;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F5F4FE;
  opacity: 0.25;
  box-shadow: 0vw 3vw 12vw -6vw rgba(12, 5, 46, 0.3), 0vw 5vw 10vw -2vw rgba(12, 5, 46, 0.25);
  border-radius: 50%;
  background-image: url('../public/03.gif');
}

/* 设置裁剪样式 */
.crop {
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
}

/* 设置遮罩样式 */
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 1;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(100% 50% at 100% 50%, rgba(60, 26, 229, 0.25) 0%, rgba(59, 26, 229, 0.241896) 20%, rgba(53, 26, 229, 0.1872) 40%, rgba(41, 23, 240, 0.104) 60%, rgba(34, 26, 229, 0.0184296) 90%, rgba(32, 26, 229, 0) 100%);
}

.mask:after {
  content: "";
  position: absolute;
  width: 0.075vw;
  height: 100%;
  right: 0;
  display: block;
  background-image: linear-gradient(180deg, rgba(60, 26, 229, 0) 0%, #3C1AE5 50%, rgba(60, 26, 229, 0) 100%);
}

/* 区域发送评论的样式 */
.comments-window {
  position: absolute;
  top: 25vh;
  left: -2vw;
  bottom: 41vh;
  width: 26.5vw;
  height: 70vh;
  margin: 1.5vh;
  border-radius: 3vh;
  z-index: 2;
  user-select: none;
  background: linear-gradient(to bottom, #6d4bf5da 13%, #ffffffe1 13%);
}

.comments-window h2 {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 230%;
}

/* 当用户正在输入时的样式 */
.comments-input {
  position: absolute;
  top: 20%;
  left: 8%;
  bottom: 20%;
  right: 8%;
  padding: 0%;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  font-size: 210%;
  font-weight: 555;
  caret-color: #a200ff; 
  
}

.comments-input::selection {
  color: #fff; 
  background-color: #6844f7; 
}



textarea {
  resize: none;
}

input:focus, textarea:focus {
  outline: 0.25vh solid #532ee58a;
  border: 0.25vh solid #532ee542;
  
}


.comments-button {
  position: absolute;
  top: 85%;
  left: 55%;
  bottom: 5%;
  right: 8%;
  padding: 0;
  background-color: #6844f7;
  color: white;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 2.5vh;
}

/* 当用户将鼠标悬停在按钮上时的样式 */
.comments-button:hover {
  transform: scale(1.1);
  background-color: #532ee5;
}
.comments-button:disabled {
  transform: scale(1.05); 
  background-color: #ce2b02; 
  cursor: not-allowed; 
}


.comment-counter {
  position: absolute;
  bottom: 7%; 
  left: 11%; 
  font-size: 3vh;
  color: #532ee5; 
}

.comment-counter.max-exceeded {
  font-size: 3.5vh;
  color: red; 
}