
:root {
    --rotate-speed: 40;
    --count: 8;
    --easing: cubic-bezier(0.000, 0.37, 1.000, 0.63);
}

.comments-page {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* comments-window: */
.comments-void {

  width: 100%;
  max-width: 66vw;
  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1;
  
}



/* list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

/* list title: */
li {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  animation: rotateCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
}


/* cards */
.comments-cards {

  width: 17vw;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5vh 2.25vh;
  gap: 1vh;
  background: #FFFFFF;
  

  border-radius: 1.25vw;
  font: 550 0.9vw '';
  color: #535062;
  animation: rotateCCW calc(var(--rotate-speed) * 1s) var(--easing) infinite;
  pointer-events: none;
    border: 0.1vw solid #3b2ed06e;
}


.comments-cards img {

  width: 100%;
}

/* set the size of the window: */
ac {

  text-decoration: none;
  color: unset;
  display: block;
  height: 100%;
  overflow: hidden;
}


.comments-username{

  font-weight: 600;
  font-size: 2.75vh;
  line-height: 150%;
  display: block;
  letter-spacing: 0.07vw;
  color: #df9a19;
}



li:nth-child(2),
li:nth-child(2) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -1s);
}

li:nth-child(3),
li:nth-child(3) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -2s);
}

li:nth-child(4),
li:nth-child(4) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -3s);
}

li:nth-child(5),
li:nth-child(5) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -4s);
}

li:nth-child(6),
li:nth-child(6) .comments-cards {
  animation-delay: calc((var(--rotate-speed)/var(--count)) * -5s);
}


/* roatating */
@keyframes rotateCW {
  from {
    transform: translate3d(0vh, -50%, -1vh) rotate(-45deg);
  }

  to {
    transform: translate3d(0vh, -50%, 0vh) rotate(-315deg);
  }
}

@keyframes rotateCCW {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(315deg);
  }
}
/* background circle */
.center-circle {
  position: absolute;
  width: 7vw;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  box-shadow: 0vw 3vw 6vw -3vw rgba(12, 5, 46, 0.3),
    0vw 5vw 10vw -2vw rgba(12, 5, 46, 0.25);
  border-radius: 50%;
  background-size: cover;
  background-position: -3vw 0;
}

/* Set the second circle style */
.second-circle {
  position: absolute;
  width: 22vw;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F5F4FE;
  opacity: 0.5;
  box-shadow: 0vw 3vw 12vw -6vw rgba(12, 5, 46, 0.3),
    0vw 5vw 10vw -2vw rgba(12, 5, 46, 0.25);
  border-radius: 50%;
  background-image: url('../public/comments/03.gif');
}

/* Set last circle style */
.last-circle {
  position: absolute;
  width: 48vw;
  aspect-ratio: 1 / 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #F5F4FE;
  opacity: 0.25;
  box-shadow: 0vw 3vw 12vw -6vw rgba(12, 5, 46, 0.3), 0vw 5vw 10vw -2vw rgba(12, 5, 46, 0.25);
  border-radius: 50%;
  background-image: url('../public/comments/03.gif');
}

/* the crop of left half of the window */
.crop {
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1));
}

/*mask */
.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 1;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: radial-gradient(100% 50% at 100% 50%, rgba(60, 26, 229, 0.25) 0%, rgba(59, 26, 229, 0.241896) 20%, rgba(53, 26, 229, 0.1872) 40%, rgba(41, 23, 240, 0.104) 60%, rgba(34, 26, 229, 0.0184296) 90%, rgba(32, 26, 229, 0) 100%);
}

.mask:after {
  content: "";
  position: absolute;
  width: 0.075vw;
  height: 100%;
  right: 0;
  display: block;
  background-image: linear-gradient(180deg, rgba(60, 26, 229, 0) 0%, #3C1AE5 50%, rgba(60, 26, 229, 0) 100%);
}

/* send comments window */
.comments-window {
  position: absolute;
  top: 17%;
  left: -10%;
  bottom: 28%;
  right: 57%;
  margin: 1.5vh;
  border-radius: 3vh;
  z-index: 2;
  user-select: none;
  background: linear-gradient(to bottom, #eb922d 13%, #ffffffe1 13%);
}




.comments-window h2 {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 200%;
  
}

/* when users is inputing comments */
.comments-input {
  position: absolute;
  top: 19%;
  left: 8%;
  bottom: 20%;
  right: 8%;
  padding: 0%;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  font-size: 210%;
  font-weight: 555;
  caret-color: #6c00aa; 
  
}

.comments-input::selection {
  color: #fff;
  background-color: #f7b933;
}

.comments-input:focus {
  outline: 0.25vh solid #ebac24;
  border: 0.25vh solid #e4a215;
}



textarea {
  resize: none;
}



.comments-button {
  position: absolute;
  top: 85%;
  left: 55%;
  bottom: 5%;
  right: 8%;
  padding: 0;
  background-color: #f7b233;
  color: white;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-size: 2.5vh;
}


.comments-button:hover {
  transform: scale(1.1);
  background-color: #f79f1b;
}
.comments-button:disabled {
  transform: scale(1.05); 
  background-color: #ce2b02; 
  cursor: not-allowed; 
}


.comment-counter {
  position: absolute;
  bottom: 7%; 
  left: 11%; 
  font-size: 3vh;
  color: #f7b233; 
}

.comment-counter.max-exceeded {
  font-size: 3.5vh;
  color: red; 
}