/* homepage.css */
body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}


.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.window {
    width: 33vh;
    height: 43vh;
    border: none;
    text-align: center;
    margin: 0 2vh 0;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5vh;
    color: white;
    text-decoration: none;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.window:hover {
    transform: scale(1.1);
}