body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    width: 44vh; 
    height: 48vh; 
    margin: 1.5vh; 
    border-radius: 3vh; 
    border: none;
    text-align: center;
    padding: 0;

    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.window:hover {
    transform: scale(1.1);
    opacity: 1;
}

.window img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 3vh;
    opacity: 0.9;
}


.window.c1 {
    background-color: none;
    border: none;
}

.window.c2 {
    background-color: none;
    border: none;
}

.window.c3 {
    background-color: none;
    border: none;
}
