/* set the background */
.homepage {
    background-image: url('../public/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    /* remove redundant margin */
    margin: 0vh;
}

/* several functional windows on the page: */
.window {
    width: 44vh;
    height: 48vh;
    margin: 1.5vh;
    border-radius: 3vh;
    border: none;
    text-align: center;
    padding: 0;

    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.window:hover {
    transform: scale(1.1);
    opacity: 1;
}

.window img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 3vh;
    opacity: 0.9;
}


/* Specific window settings(for testing and adjustment): */
.window.c1 {
    background-color: none;
    border: none;
}

.window.c2 {
    background-color: none;
    border: none;
}

.window.c3 {
    background-color: none;
    border: none;
}
