/* set background image for the page */
.music-player {
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* area for the main function */
.music-player-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  margin-top: 6vh;
  padding-top: 5vh;
  overflow: auto;
}

.text-container {
  font-family: Arial, sans-serif;
  font-size: 1.6em;
  color: rgba(204, 159, 98, 0.9);
  line-height: 0.5;
}

/* set information for music buttons */
.music-btns-list {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2.5vw;
  place-items: center;
  place-content: center;
  overflow-x: visible;
  white-space: normal;
}

.music-btns-list > div {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 2vh;
}

.size-container {
  margin-top: 20vh;
  margin-bottom: 4vh;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
