.search-container {
  border-radius: 0.9vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;

  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 999;
}

.search-inp {
  border: none;
  padding: 0.9vw;
  flex-grow: 1;
  box-shadow: none;
  border-bottom: solid 1px rgba(208, 208, 208, 0.934);
  margin: 0 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1.3vw;
  width: 15vw;
}

.search-btn {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 1.1vw;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-btn:hover {
  background-color: rgb(221, 145, 46);
  transform: scale(1.05);
}
