/* set the layout and color for the music buttons */
.music-btn-wrap {
  transition: all 0.2s;
  border-radius: 0.1vw;
}

.music-btn-wrap:hover {
  transform: scale(1.05);
}

.music-btn-wrap > .img-face {
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  height: 13.5vw;
  width: 15vw;
  display: block;
}

.music-btn-wrap > .music-item-text {
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.307);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
}

.music-btn-wrap.Classical {
  border: solid 0.4vw rgb(253, 152, 152);
}

.music-btn-wrap.Ensembles {
  border: solid 0.4vw orange;
}

.music-btn-wrap.Natural {
  border: solid 0.4vw yellow;
}

.music-btn-wrap.Rhythmic {
  border: solid 0.4vw cyan;
}

.music-btn-wrap.Smoothing {
  border: solid 0.4vw rgb(0, 255, 127);
}

.music-btn-wrap.Vocal {
  border: solid 0.4vw rgb(238, 130, 238);
}
