/* set the layout and color for the music buttons */
.music-btn-wrap {
  transition: all 0.2s;
  border-radius: 3%;
}

.music-btn-wrap:hover {
  transform: scale(1.05);
}

.music-btn-wrap > .img-face {
  cursor: pointer;
  height: 30vh;
  width: 15vw;
  display: block;
}

.music-btn-wrap > .music-item-text {
  height: 10vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.307);
  font-size: 1.05em;
  white-space: nowrap;
  color: #fff;
}

.music-btn-wrap.Classical {
  border: solid 0.4vw rgb(253, 152, 152);
}

.music-btn-wrap.Ensembles {
  border: solid 0.4vw orange;
}

.music-btn-wrap.Natural {
  border: solid 0.4vw yellow;
}

.music-btn-wrap.Rhythmic {
  border: solid 0.4vw cyan;
}

.music-btn-wrap.Smoothing {
  border: solid 0.4vw rgb(0, 255, 127);
}

.music-btn-wrap.Vocal {
  border: solid 0.4vw rgb(238, 130, 238);
}
