.nav-list-wrap {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2vh;
}

.nav-list-wrap .nav-item {
  background-color: #acbd7f;
  color: #fff;
  border-radius: 40px;
  font-size: 1vw;
  width: 8vw;
  height: 3vw;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
